*{font-family: sans-serif; color:whitesmoke; box-sizing: border-box; margin: 0%;}

/* Color Pallet */
:root{
    --hc:#224668;
    --bc:#4e8db4;

}

/* body{background-color: var(--bc);} */
body{background-color: white;}

header {display: flex; justify-content: space-between; align-items: center; padding: .5% 2% .5% 2% ; background-color: var(--hc); color: lightgray;
} 

nav ul{display: flex; justify-content: space-between; width: 700px; list-style-type: none; font-size: 20px; text-decoration: none;
}

.bio{height:max-content; width: 100%; 
}

img{height:20%; width:20%; padding: 5% 5% 5% 0;}

#Vince{float: left; width:500px; height: 500px; padding: 30px;
}

.bio h2{text-align: center; display: inline-block; padding:4% 0% 3% 0%; color: gray;
}

.bio p{padding: 0 40px 20px 0; color: gray;
}

footer{background-color: gray; padding:5px; height:250px;
}

footer h3{text-align: center;
}

#contact{text-align: center; height:250px;
}
#contact input{color:var(--hc)}


    /* This is for the games page */
    #background{padding:35px;
    }
    #background h1,h2,p{color:gray
    }
    iframe{padding:20px; width:800px; height: 600px; padding-bottom: 90px;;
    }
    #background h1{padding-bottom: 13px; color:rgb(80, 80, 80);
    }
    #background h2{padding-top: 15px;
    }
    #background p{float: right; margin-right: 150px; font-size: 18px;line-height: 25px;
    }
    
    /* end of game page */


    /* This is for the resume page */
    embed{width:100%; height:1200px; padding: 20px;
    }
    /* End of Resume Page */


    /* This is for the WORK page */
    #work img{height: 300px; width: auto; padding:5px;}
    #work h2{margin-top:30px;}
    #work img, h2{padding-left: 25px;}
    /* End of Work Page */


    